body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.form-container {
    background-color: #fff;
    margin: 50px auto;
    padding: 20px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    /* 入力フィールドの内側のpaddingを含めた幅を100%にする */
}

button[type="submit"] {
    width: 100%;
    background-color: #1223d9;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #1223d9;
}

.login-prompt {
    font-size: 16px;
    margin: 20px 0;
}

.login-prompt a {
    color: #1223d9;
    /* リンクの色 */
    text-decoration: none;
    text-align: center;
}