body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h2 {
    text-align: center;
    color: #333;
}

.register-form__inner{
    text-align: center;
}
/* ログイン成功時のメッセージ */
.alert-success{
    background-color: #a0c6f1;
    margin-bottom: 20px;
    border-radius: 4px;
    width: 100%;
    padding: 8px;
}

/* register-form__groupクラスを追加して、CSSの整合性を保つ */
.register-form__group {
    margin-bottom: 20px;
    color: #096fdd;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

/* register-form__inputクラスにスタイルを適用 */
.register-form__input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button[type="submit"] {
    width: 50%;
    background-color: #1223d9;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    /* ボタンを中央に配置 */
    margin: 0 auto;
    /* 自動的に左右のマージンを設定 */
}

button[type="submit"]:hover {
    background-color: #2284d3;
}

.login-prompt {
    font-size: 16px;
    margin: 20px 0;
    color: #585555;
    text-align: center;
    /* テキストを中央揃えに */
}

.login-prompt a {
    color: #1223d9;
    text-decoration: none;
}