body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

form, date-form{
    display: flex;
    margin: 40px;
}

.date {
    display: flex;
    text-align: center;
    font-size:20px;
    justify-content: center;/* 水平方向の中央揃え */
    align-items: center;/* 垂直方向の中央揃え */
    margin: 40px;
}

.date-picker {
    display: flex;
    justify-content: center;
    background-color: #f0f0f0;
    padding: 10px;
}

.date-picker h2 {
    margin: 0 20px;
    /* ボタンと日付の間にスペースを追加 */
}

.arrow-btn {
    border: 1px solid #100cdc;
    color: #100cdc;
    background-color: #fff;
    padding: 5px;
    margin: 0 10px;
    width: 40px;
}

.attendance-container{
    display: flex;
    flex-direction: column;/* 縦方向に並べる */
    align-items: center;/* 中央揃え */
    gap: 30px;/* 行間の間隔 */
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #ccc;
    border-top: 1px solid #ccc;/* 上辺に線を追加 */
    border-bottom: 1px solid #ccc;/* 下辺に線を追加 */
    border-left: none;/* 左辺の線を消す */
    border-right: none;/* 右辺の線を消す */
    padding: 13px;
    text-align: center;
}

th {
    text-align:center;
    background-color: #f0f0f0;
}


.pagination {
    justify-content: center;
    text-align: center;
    padding: .5rem .7rem;
    margin: 0 1px;
    gap: 5px;
}

a {
    background-color: white;
    text-decoration: none;
    color: rgb(69, 161, 231);
}

.visuallyhidden {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute !important;
    white-space: nowrap;
    width: 1px;
}

.pagination__prev {
    background-color: #fff;
    width: 35px;
    height: 45px;
    padding: 13px;
    margin-top: 12px;
    &::before {
        content: '<';
    }
}

.pagination__next {
    background-color: #fff;
    width: 35px;
    height: 45px;
    padding: 13px;
    margin-top: 12px;
    &::before {
        content: '>';
    }
}

.pagination__items {
    padding: 13px;
    display: flex;
    list-style: none;
    margin: 0px;
}

li {
    position: absolute;
    top: -100vh;
    counter-increment: pagination;
    background-color: #fff;
    color: rgb(69, 161, 231);
    width: 45px;
    height: 45px;
    padding: 13px;

    &:first-child,
    &:last-child {
        position: static;
    }

    &.is-active {
        position: static;

        &:not(:nth-child(1)):not(:nth-child(21)) {
            &::before {
                content: '...';
            }
        }

        &+li,
        &+li+li+li+li+li+li+li+li+li {
            position: static;
        }

        &+li+li:not(:last-child):not(:nth-last-child(10)) {
            &::after {
                content: '...';
                background-color: #fff;
                color: rgb(69, 161, 231);
                width: 45px;
                height: 45px;
                padding: 13px;
            }
        }
    }
}

