body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

h2 {
    text-align: center;
    color: #333;
}

.form-group {
    display: flex;
    justify-content: space-between;
}

.button {
    padding: 65px 100px;
    font-size: 20px;
    background-color: #ffffff;
    color: #333;
    border: none;
    cursor: pointer;
}

